<div class="container">

    <div class="card">
        <h5 class="card-header text-center">Login</h5>
        <div class="card-body">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Usuario:</label>
                <input type="text" #usuarioInput  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Contraseña:</label>
                <input type="password" #passwordInput class="form-control" id="exampleInputPassword1">
              </div>
          <a   href="#" (click)="verificar(usuarioInput.value, passwordInput.value)" class="btn btn-outline-primary d-block ">Login</a>
            <div class="bienvenido" *ngIf="aceptado == true">
            <h1 class="text-success">Bienvenido usuario: {{usuario}}</h1>
                <div class="items" *ngFor="let nom of items">
                    <a href="">{{nom}}</a>                    
                </div>
          </div>
          <div class="rechazado" *ngIf="rechazado == true">
            <h1 class="text-danger">Credenciales incorrectas, intentelo nuevamente.</h1>
          </div>
        </div>
      </div>
</div>